<div class="container-sm d-flex justify-content-center mt-5">

  <!--*****************
    Login Card
  **********************-->
  <div class="card shadow" style="width: 18rem;">
    <!--Card header-->
    <div class="card-header bg-primary fw-bold text-white text-center">Login</div>

    <!--Card body-->
    <div class="card-body">

      <!--Form start-->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="usernameForm" class="form-label">Username</label>
          <input type="text" class="form-control" id="usernameForm" placeholder="Username" formControlName="username">
        </div>
        <div class="mb-3">
          <label for="passwordForm" class="form-label">Password</label>
          <input type="password" class="form-control" id="passwordForm" placeholder="Password" formControlName="password">
        </div>
        <div class="mb-3">
          <label for="urlForm" class="form-label">Password</label>
          <input type="text" class="form-control" id="urlForm" placeholder="Enter Url" formControlName="url">
        </div>
        <button type="submit" class="btn btn-primary form-control" [disabled]="!loginForm.valid">Submit</button>
      </form>
      <!--Form end-->
    </div>
  </div>
</div>